[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick.git
[submodule "pswu11.github.io"]
	path = pswu11.github.io
	url = git@github.com:pswu11/pswu11.github.io.git
