@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", "Noto Sans TC", sans-serif;
  font-size: 14px;
}

@layer utilities {
  .white-border-btn {
    @apply border-[1px] border-solid border-base-white px-3 sm:px-4 py-1 hover:bg-base-darkpurple
  }

  .white-border-rounded {
    @apply border-[1px] border-solid border-base-white rounded-xl
  }

  .purple-shadow {
    box-shadow: 1px 1.4px 0px 0px #b365ee;
  }

  .purple-shadow-lg {
    box-shadow: 2px 2.4px 0px 0px #b365ee;
  }

  .yellow-shadow-lg {
    box-shadow: 2px 2.4px 0px 0px #eee565;
  }

  .green-shadow-lg {
    box-shadow: 2px 2.4px 0px 0px #95ff85;
  }

  .red-shadow-lg {
    box-shadow: 2px 2.4px 0px 0px #ff81a1;
  }

  .gradient-purple {
    background: radial-gradient(
      103.52% 152.57% at 95.28% 97.27%,
      #4e4168 0%,
      #3e2b41 17.71%,
      #1b1724 80.21%
    );
  }

  .blinking-cursor {
    margin-left: 4px;
    height: 24px;
    width: 10px;
    background-color: #f6e8ea;
    animation: blink-animation 1.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
    opacity: 0.9;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}